<div class = 'hero col-xs-10 col-xs-offset-1'>
	<div class = 'cover-t col-xs-12 text-center'>
		<h1 class = 'text-center'>Learn Sight Reading Music</h1>
		<br />
		<h3 class = 'text-center'>It's all fun and games...</h3>
	</div>
</div>

<div class = 'col-xs-10 col-xs-offset-1'>
	<div class = 'col-xs-4 text-center'>
		<br />
		<h1><%= link_to 'Sight Reading', sightread_challenges_path %></h1>
	</div>
	<div class = 'col-xs-4 text-center'>
		<br />
		<h1>Rhythm</h1>
	</div>
		<div class = 'col-xs-4 text-center'>
		<br />
		<h1>Ear Training</h1>
	</div>