<div class = 'col-xs-10 col-xs-offset-1'>
	<div class = 'col-xs-12 text-center'>
		<h1 class = 'cover text-center'>Sight Read Music</h1>
		<br />
		<h3 class = 'text-center'>It's all fun and games...</h3>
	</div>
</div>
<div class = 'overlay'></div>
<div class = 'col-xs-10 col-xs-offset-1'>
	<div class = 'col-xs-4 text-center'>
		<br />
		<div class = circle></div>
		<h2><%= link_to 'Sight Reading', sightread_challenges_path %></h2>
	</div>
	<div class = 'col-xs-4 text-center'>
		<br />
		<div class = circle></div>
		<h2>Rhythm</h2>
	</div>
		
	<div class = 'col-xs-4 text-center'>
		<br />
		<div class = circle></div>
		<h2>Ear Training</h2>
	</div>