<div class = 'hero col-xs-10 col-xs-offset-1'>
<div class = 'cover-t col-xs-12 text-center'>
<h1 class = 'text-center'>Learn Sight Reading Music</h1>
<br />
<h3 class = 'text-center'>It's all fun and games...</h3>
</div>
</div>