<div class = 'col-xs-10 col-xs-offset-1'>
	<div class = 'cover'>
		<%= image_tag 'music-notes.jpeg', :class => 'cover-img img-responsive' %>
	</div>
	<div class = 'col-xs-12 text-center'>
		<h1 class = 'text-center'>Sight read music,</h1>
		<h2 class = 'text-center'>with fun and games...</h2>
	</div>
</div>

<div class = 'col-xs-10 col-xs-offset-1'>
	<div class = 'col-xs-4 text-center'>
		<br />
		<div class = 'navba'>
		<h2><%= link_to 'Sight Reading', sightread_challenges_path %></h2>
		</div>
	</div>
	<div class = 'col-xs-4 text-center'>
		<br />
		<div class = 'navba'>
		<h2><%= link_to 'Rhythm', rhythm_challenges_path %></h2>
		</div>
	</div>
		
	<div class = 'col-xs-4 text-center'>
		<br />
		<div class = 'navba'>
		<h2>Ear Training</h2>
		</div>
	</div>