<div class = "col-xs-10 col-xs-offset-1">
	<br />
	<h2>Rhythm Exercises</h2>

	<% @rhythms.each do |rhythm| %>
		<h3><%= link_to rhythm.title, rhythm_challenge_path(rhythm) %></h3>
		<% end %>
	<hr />

</div>