<div class = 'booyah-box col-xs-10 col-xs-offset-1'>

	<h1>Rhythms!</h1>
	<p>tempo = <span id = 'tempo'><%= @rhythm.tempo %></span></p>

	<div class="vex-tabdiv"  width=680 scale=1.0>

		options font-size=14 space=15

		tabstave notation=true tablature=false
		         time=4/4 clef=percussion
		  notes :hS B/4 :qS B/4 :q ## | :8S B/4 B/4 :qS B-B-B/4

		options space=10

	</div>
	<canvas class ='rhythm-count' width="680" height="145"></canvas>
	<br class = 'clr'/>
	<br />
	<br />
	<div class = 'testNotes'><%= @rhythm.notes %></div>
	<div class = 'col-xs-12 col-md-12'>
		<button id= 'metronome' class ='metronome btn btn-success'>Start</button>
		<button id= 'stop' class ='metronome btn btn-success'>Stop</button>
	</div>

</div>

