<div class = "col-xs-10 col-xs-offset-1">
	<br />
	<h1>Welcome to Your Sight Reading Challenges</h1>

	<br />
	<% @sightreadings.each do |sightreading| %>
		<p><h3><%= link_to sightreading.title, sightread_challenge_path(sightreading) %></h3></p>
		<p><%= sightreading.tempo %>, <%= sightreading.time %>, <%= sightreading.key %></p>
		<% end %>
	<hr />

</div>