<br />

<div class = "col-xs-10 col-xs-offset-1">
	<h2>My Dashboard</h2>

	<div class = 'col-xs-2'>
	</div>
	<div class = 'col-xs-10'>
		<h3>Account Details</h3>
		<br />
		<h5>Email:</h5> <%= current_user.email %>
	</div>
	<br />
	<br />
	<div class = 'col-xs-12'>
		<h4>Completed Sightreading Challenges </h4>
		<table class = 'score-table'>
			<tr>
				<th>Challenge Title</th>
				<th>Score</th>
				<th>Date Last Completed</th>
			</tr>
			<% current_user.completed_sightreadings.each do |challenge| %>
			<tr>
				<td><%= challenge.title %></td>
				<td><%= current_user.scores.find_by(:sightread_challenge_id => challenge.id).total %></td>
				<td><%= current_user.scores.find_by(:sightread_challenge_id => challenge.id).updated_at %></td>
			</tr>
	<% end %>
	</div>
</div>