@font-face {
    font-family: 'League Spartan';
    src: url('leaguespartan-bold.eot');
    src: url('leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
         url('leaguespartan-bold.woff2') format('woff2'),
         url('leaguespartan-bold.woff') format('woff'),
         url('leaguespartan-bold.ttf') format('truetype'),
         url('leaguespartan-bold.svg#league_spartanbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

.navbar {
	border-radius: 0;
}

body {
	font-family: 'League Spartan', 'Helvetica Neue', Helvetica, sans-serif;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
  min-height: 100%;
  min-width: 720px;
}

/*.overlay {
  background-color: #2EB1E6;
  height: 100%;
  width: 100%;
  left: 0;
  opacity: 0.3;
  position: absolute;
  z-index: -1;
  display: block;
}*/

.navba {
	border-radius: 15px;
	border: 5px solid black;
	width: 200px;
	height: 100px;
	margin: auto;
	vertical-align: middle;
	color: #666964;
}

.navba a {
	font-weight: bold;
	color: #666964;
	text-decoration: none;
}

.navba a:hover {
	text-decoration: none;
	color: #EDEDED;
}

.navba:hover {
	background-color: #9EDE5D;
	text-decoration: none;
}

.cover-img {
	height: 200px;
	margin: auto;
}

h1 {
	font-family: 'League Spartan', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 80px;
	font-weight: bold;
}

h3 {
	font-family: 'League Spartan', 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: 100;
}

#mic {
	background-image: url('mic.png');
	background-size: 50px 50px;
	height: 50px;
	width: 50px;
}

.clr {
	clear: both;
}

hr {
	height: 20px;
	color: 'black';
}

.controls {
	margin: 5px 5px 5px 5px;
	min-height: 50px;
	padding: auto;
}

.sing-panel {
	margin-right: auto;
	margin-left: auto;
	width: 820px;
}

.music-panel {
	min-height: 150px;
	min-width: 680px;
}

.result, #score, #eval {
	padding: 0px;
}

#treble {
	visibility: hidden;
	height: 150px;
}

.score, .eval {
	height: 20px;
}

button {
	margin-top: 5px;
	margin-bottom: 5px;
}

.total-score {
	min-height: 50px;
	background-color: #FFB43B;
	margin: auto; 
	padding: auto;
	z-index: 1;
}

.testNotes {
	visibility: hidden;
}

.test-panel {
	margin: auto;
	padding: auto;
}