.navbar {
	border-radius: 0;
}

body {
	background: url('paper.png');
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
  min-height: 100%;
}

.overlay {
  background-color: #2EB1E6;
  height: 100%;
  width: 100%;
  left: 0;
  opacity: 0.3;
  position: absolute;
  z-index: -1;
  display: block;
}

.circle {
	border-radius: 100%;
	background-color: #529AFF;
	opacity: 0.8;
	height: 200px;
	width: 200px;
	margin: auto;
}

h1, h2, h3, h4, h5, h6, .navbar {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}

h1, h2 {
	letter-spacing: -1.5px;
}

.cover {
	text-shadow: rgba(128,128,128,0.8) 1px 1px;
	margin-top: 150px;
}

h3 {
	font-weight: 100;
}

#mic {
	background-image: url('mic.png');
	background-size: 50px 50px;
	height: 50px;
	width: 50px;
}

.clr {
	clear: both;
}

a {
	font-weight: bold;
}

a:hover {
	text-decoration: none;
}

hr {
	height: 20px;
	color: 'black';
}

.side-panel {
	min-height: 250px;
	padding: 0px;
}

.controls {
	margin: 0px 5px 5px 5px;
	padding: 0px;
}

.detec-div {
	min-height: 100px;
	min-width: 100px;
	margin-bottom: 5px;
	margin-left: 5px;
}

.singpanel-div {
	min-height: 250px;
	margin-bottom: 30px;
}

.music-panel {
	min-height: 250px;
	min-width: 680px;
	margin-bottom: 20px;
}

.result, #score, #eval {
	padding: 0px;
}

#treble {
	visibility: hidden;
}

.score, .eval {
	height: 20px;
}

button {
	margin-top: 5px;
	margin-bottom: 5px;
}