.navbar {
	border-radius: 0;
}

body {
	background: url('lined_paper.png');
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
}

.hero {
	background: url('hoffmann.jpg') no-repeat center center fixed;
	height: 450px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: 0px 3px 8px #2a2a2a;
  padding: 0;
  position: relative;
}

h1, h2, h3, h4, h5, h6, .navbar {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
  	margin:0;
}

h1, h2 {
	font-weight: 600;
	letter-spacing: -1.5px;
}

.cover-t {
	background:rgba(0,0,0,0.8);
	color: white;
	position: absolute;
	top: 40%;
	height: 30%;
}

.cover-t h1 {
	text-shadow: rgba(0,0,0,0.95) 1px 1px;
	position: relative;
	top: 25%;
	text-align: center;
}

.cover-t h3 {
	font-weight: 100;
	position: relative;
	top: 25%;
	text-align: center;
}

#mic {
	background-image: url('mic.png');
	background-size: 50px 50px;
	height: 50px;
	width: 50px;
}

.clr {
	clear: both;
}

a {
	font-weight: bold;
}

a:hover {
	text-decoration: none;
}


.side-panel {
	min-height: 250px;
	padding: 0px;
}

.controls {
	margin: 0px 5px 5px 5px;
	padding: 0px;
}

.detec-div {
	min-height: 100px;
	min-width: 100px;
	margin-bottom: 5px;
	margin-left: 5px;
}

.singpanel-div {
	min-height: 250px;
	margin-bottom: 30px;
}

.music-panel {
	min-height: 250px;
	min-width: 680px;
	margin-bottom: 20px;
}

.result, #score, #eval {
	padding: 0px;
}

#treble {
	visibility: hidden;
}

.score, .eval {
	height: 20px;
}

button {
	margin-top: 5px;
	margin-bottom: 5px;
}