#note { 
	font-size: 30px;
}

.droptarget { 
	background-color: #348781;
}
	
div.confident { 
	color: black; 
}
	
div.vague { 
	color: lightgrey; 
}

#note { 
	display: inline-block; 
	height:40px; 
	text-align: left;
}

#detector { 
	width: 100px; 
	height: 100px; 
	border: 4px solid gray; 
	border-radius: 8px; 
	text-align: center; 
	padding-top: 5px;
}
	
#output { 
	display: none; 
	width: 50px; 
	height: 50px; 
}

#flat { 
	height: 16px;
	display: none; 
}
#sharp { 
	height: 16px;
	display: none; 
}
.flat #flat { 
	display: inline; 
}
.sharp #sharp { 
	display: inline; 
}

#canvas {
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: white;
    border: 4px solid gray;
    border-radius: 8px;
    height: 300px;
    width: 650px;
}

#detune {
	height:16px;
}

#canvas2 {
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: white;
    height: 50px;
    width: 650px;
}