// Place all the styles related to the rhythm_challenges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rhythm-count {
	position: absolute;
    left: 10px;
    top: 80px;
    display: block;
    min-height: 145px;
    z-index: 3;
}

.vex-canvas {
    display: block;
    z-index: 2;
}
