// Place all the styles related to the rhythm_challenges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rhythm-count {
	position: relative;
    display: block;
    min-height: 145px;
    z-index: 3;
    margin-left: auto;
    margin-right: auto;
}

.vex-canvas {
    display: block;
    z-index: 2;
    margin: auto;
}

.rhythm {
	position: absolute;
	left: 10px;
	top: 109px;
	display: block;
	min-height: 145px;
	width: 100%;
	z-index: 3;
}