// Place all the styles related to the rhythm_challenges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rhythm-canvas {
	position: absolute;
	left: 100px;
    display: inline;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
}

.vex-canvas {
	position: absolute;
	left: 100px;
    display: inline;
    z-index: 1;
    margin: auto;
}

.count-down {
	display: inline;
}